body {
    background: linear-gradient(180deg, #f5e1e1, #DDEFDB);
    height: 100vh;
}
img {
    height: 450px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}
h1 {
    font-family: Tahoma, sans-serif; 
    color: hsl(0, 80%, 70%);
    text-shadow: -15px -15px 8px hsl(0, 100%, 1%);

}

h1,
h2,
h3,
.cont {
    text-align: center;
    
}

a:link, a:visited {
    background-color: transparent;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}
a:hover, a:active {
    background-color:rgb(216, 216, 154);
    transition-duration: 0.1s;
    cursor: pointer;
    border: none;
    color: white;
    box-shadow:0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.heder {
    background-color:hsla(120, 35%, 47%, 0.3);
    padding: 10px;
    border:1px
}